@font-face {
 font-family: 'Muller';
 src: local('Muller Regular'), local('Muller-Regular'),
  url('font/MullerRegular.woff2') format('woff2'),
  url('font/MullerRegular.woff') format('woff'),
  url('font/MullerRegular.ttf') format('truetype');
 font-display: swap;
 font-weight: 400;
 font-style: normal;
}

@font-face {
 font-family: 'Muller';
 src: local('Muller Medium'), local('Muller-Medium'),
  url('font/MullerMedium.woff2') format('woff2'),
  url('font/MullerMedium.woff') format('woff'),
  url('font/MullerMedium.ttf') format('truetype');
 font-display: swap;
 font-weight: 500;
 font-style: normal;
}